#Account
##My Account

<div class="card">
    <a class="badge get">GET</a> /my_account
</div>
<br>

Retrieve the details information of your account.

```javascript
// Response Example
{
    "status": 200,
    "user": {
        "id": 7,
        "email": "example@email.com",
        "created_at": "2020-07-30T13:22:28.476+07:00",
        "updated_at": "2021-05-28T12:19:54.789+07:00",
        "partner_id": 6,
        "is_api_user": true,
        "my_roles": [
            "partner",
            "partner_developer"
        ],
        "balances": [
            {
                "id": 7,
                "currency": "IDR",
                "balance": 254897585,
                "available_balance": null,
                "is_active": true,
                "user_id": 7,
                "created_at": "2020-07-30T13:23:39.900+07:00",
                "updated_at": "2022-07-11T12:47:36.282+07:00",
                "partner_id": 6
            }
        ],
        "partner": {
            "id": 6,
            "name": "Company Name",
            "address": "Tebet",
            "phone": "+628123123123",
            "email_pic": "example@email.com",
            "api_user_id": 7,
            "created_at": "2020-07-30T13:22:28.477+07:00",
            "updated_at": "2021-12-21T17:05:06.270+07:00",
            "is_b2b_partner": true
        }
    }
}
```
###Response Parameter
|Field|Type|Description|
|----|----|----|
|`status`|Integer|API status|
|`user`|Object||
|`user[id]`|Integer|User account ID|
|`user[email]`|String|User account email|
|`user[created_at]`|Timestamp|Creation date in HTTP format|
|`user[updated_at]`|Timestamp|Last updated date in HTTP format|
|`user[partner_id]`|Integer|Your company index number|
|`user[is_api_user]`|Boolean|When the value is true, it's the partner's main API user|
|`user[my_roles]`|Array|List of roles assigned to the user|
|`user[balances]`|Object|Refer to [Balance](#balance) object|
|`user[partner]`|Object|Refer to [Partner](#partner) object|

##My Balance
<div class="card">
    <a class="badge get">GET</a> /my_balance
</div>
<br>
Retrieve information for your account balance.

```javascript
// Response Example
{
    "status": 200,
    "data": {
        "total": 1,
        "balances": [
            {
                "id": 7,
                "currency": "IDR",
                "balance": 254897585,
                "available_balance": null,
                "is_active": true,
                "user_id": 7,
                "created_at": "2020-07-30T13:23:39.900+07:00",
                "updated_at": "2022-07-11T12:47:36.282+07:00",
                "partner_id": 6
            }
        ]
    },
    "message": "Succesfully get my balances"
}
```
###Response Parameter
|Field|Type|Description|
|----|----|----|
|`status`|Integer|API Status|
|`data`|Object|Response object|
|`[data][total]`|Integer|Total queried data|
|`[data][balances]`|Object|Refer to [Balance](#balance) object|
|`message`|String|Additional information of the response|
