#Account
##My Account

<div class="card">
    <a class="badge get">GET</a> /my_account 
</div>
<br>

Retrieve the details information of your account.

```javascript
// Response Example
{
    "status": 200,
    "user": {
        "id": 7,
        "email": "example@email.com",
        "created_at": "2020-07-30T13:22:28.476+07:00",
        "updated_at": "2021-05-28T12:19:54.789+07:00",
        "partner_id": 6,
        "is_api_user": true,
        "is_agreed": true,
        "my_roles": [
            "partner",
            "partner_developer"
        ],
        "balances": [
            {
                "id": 7,
                "currency": "IDR",
                "balance": 254897585,
                "available_balance": null,
                "is_active": true,
                "user_id": 7,
                "created_at": "2020-07-30T13:23:39.900+07:00",
                "updated_at": "2022-07-11T12:47:36.282+07:00",
                "partner_id": 6,
                "is_unlimited": true
            }
        ],
        "partner": {
            "id": 6,
            "name": "Company Name",
            "address": "Tebet",
            "phone": "+628123123123",
            "email_pic": "example@email.com",
            "api_user_id": 7,
            "created_at": "2020-07-30T13:22:28.477+07:00",
            "updated_at": "2021-12-21T17:05:06.270+07:00",
            "is_b2b_partner": true
        }
    }
}
```
###Response Parameter
|Field|Type|Description|
|----|----|----|
|`status`|Integer|API status|
|`user`|Object||
|`user[id]`|Integer|User account ID|
|`user[email]`|String|User account email|
|`user[created_at]`|Timestamp||
|`user[updated_at]`|Timestamp||
|`user[partner_id]`|Integer||
|`user[is_api_user]`|Boolean||
|`user[is_agreed]`|Boolean||
|`user[my_roles]`|Array||
|`user[balances]`|Object|Refer to [Balance](#balance) object|
|`user[partner]`|Object|Refer to [Partner](#partner) object|

##My Balance
<div class="card">
    <a class="badge get">GET</a> /my_balance
</div>
<br>
Retrieve information for your account balance.

```javascript
// Response Example
{
    "status": 200,
    "data": {
        "total": 1,
        "balances": [
            {
                "id": 7,
                "currency": "IDR",
                "balance": 254897585,
                "available_balance": null,
                "is_active": true,
                "user_id": 7,
                "created_at": "2020-07-30T13:23:39.900+07:00",
                "updated_at": "2022-07-11T12:47:36.282+07:00",
                "partner_id": 6,
                "is_unlimited": true
            }
        ]
    },
    "message": "Succesfully get my balances"
}
```
###Response Parameter
|Field|Type|Description|
|----|----|----|
|`status`|Integer|API Status|
|`data`|Object|Response object|
|`[data][total]`|Integer|Total queried data|
|`[data][balances]`|Object|Refer to [Balance](#balance) object|
|`message`|String|Additional information of the response|


##My Balance History
<div class="card">
    <a class="badge get">GET</a> /balances
</div>
<br>
Retrieve the balance history of your account


```javascript
// Request Example
{
    "page": 1,
    "per_page": 50
}
```
###Request Parameter
|Field|Required|Type|Description|
|----|----|----|----|
|`page`|No|Integer|Page number|
|`per_page`|No|Integer|Number of results per page (default 50, max 100)|

```javascript
// Response Example
{
    "status": 200,
    "data": [
        {
            "id": 7,
            "currency": "IDR",
            "balance": 254897585,
            "available_balance": null,
            "is_active": true,
            "user_id": 7,
            "created_at": "2020-07-30T13:23:39.900+07:00",
            "updated_at": "2022-07-11T12:47:36.282+07:00",
            "partner_id": 6,
            "is_unlimited": true,
            "user": {
                "id": 7,
                "email": "example@email.com",
                "created_at": "2020-07-30T13:22:28.476+07:00",
                "updated_at": "2021-05-28T12:19:54.789+07:00",
                "partner_id": 6,
                "is_api_user": true,
                "is_agreed": true
            },
            "balance_histories": [
                {
                    "id": 88,
                    "credit": 150000000,
                    "debit": 0,
                    "originator_id": 1,
                    "originator_type": "User",
                    "notes": null,
                    "description": null,
                    "balance_id": 7,
                    "created_at": "2020-07-30T13:23:39.904+07:00",
                    "updated_at": "2020-07-30T13:23:39.904+07:00",
                    "prev_balance": 0.0,
                    "curr_balance": 0.0
                }
            ]
        }
    ]
}
```
###Response Parameter

|Field|Type|Description|
|----|----|----|
|`status`|Integer|API status|
|`data`|Object|Refer to [balance](#balance) object|
|`data[user]`|Object||
|`data[user][id]`|Integer|User account ID|
|`data[user][email]`|String|User account email|
|`data[user][created_at]`|Timestamp||
|`data[user][updated_at]`|Timestamp||
|`data[user][partner_id]`|Integer||
|`data[user][is_api_user]`|Boolean||
|`data[user][is_agreed]`|Boolean||
|`data[balance_histories]`|Object|Refer to [balance histories](#balance-histories) object|
