<!-- Authentication -->
<h1 id="authentication">Authentication</h1>

<div class="card">
   <a class="badge post">POST</a> /authenticate
</div>
<br>

Access to all endpoints of the API requires authentication, through
<a href="https://en.wikipedia.org/wiki/Basic_access_authentication">HTTP Basic Auth</a>.

Your API key is the authorization key to our service, please do keep it securely.
To keep it safe, avoid storing the API key directly in your code without encryption.
Putting the key in your environment variables or using an API secret management service is among the safest ways to store it.

```javascript
// request example
{
   "email": "{email}",
   "password": "{password}"
}
```
|Parameter|Value|
|----|----|
|Email|Registered email|
|Password|Password|



```javascript
// response example
{
   status: 200,
   data: {
      auth_token: "{auth_token}",
      api_key: "{api_key}"
   }
}
```
|Parameter|Value|
|----|----|
|auth_token|Token provided by Transfez for each authorized user|
|api_key|Unique access key provided by Transfez for each authorized user|

You will need to attach the API to the HEADER of every request made to the Transfez API service.
###Header Parameters
|Field|Required|Type|Description|
|----|----|----|----|
|`Content-Type`|YES|String|Indicates the format of sent data. Please use `application/json` as the value of this field|
|`Authorization`|YES|String|Your API key|

<!-- End Basic Auth -->
