<h1 id="bank-code">Testing</h1>

<p>Here is a list of dummy bank account number that can be used for testing success transaction in the Sandbox Environment, please make sure that you do not use this on Production mode.</p>

<h4 id="input">Input</h4>

<table><thead>
<tr>
<th>Beneficiary Bank</th>
<th>Beneficiary Account</th>
<th>Beneficiary Name</th>
</tr>
</thead><tbody>
<tr>
<td>Bank Mandiri</td>
<td>1111222233333</td>
<td>Mandiri Simulator A</td>
</tr>
<tr>
<td></td>
<td>2222333344444</td>
<td>Mandiri Simulator B</td>
</tr>
<tr>
<td>Bank Permata</td>
<td>4111111111</td>
<td>Permata Simulator A</td>
</tr>
<tr>
<td>Bank Danamon</td>
<td>111112222222</td>
<td>Danamon Simulator A</td>
</tr>
<tr>
<td></td>
<td>000001111111</td>
<td>Danamon Simulator B</td>
</tr>
<tr>
<td></td>
<td>000002222222</td>
<td>Danamon Simulator C</td>
</tr>
<tr>
<td>Bank BNI</td>
<td>00010000</td>
<td>BNI Simulator A</td>
</tr>
<tr>
<td>Bank BRI</td>
<td>111112222233333</td>
<td>BRI Simulator A</td>
</tr>
<tr>
<td>Bank BCA</td>
<td>0011223344</td>
<td>BCA Simulator A</td>
</tr>
<tr>
<td>Bank CIMB</td>
<td>222233334444</td>
<td>CIMB Simulator A</td>
</tr>
<tr>
<td></td>
<td>333344445555</td>
<td>CIMB Simulator B</td>
</tr>
</tbody></table>
