<h1 id="enumerations">Enumerations</h1>

<p>A number of resource fields will only accept a list of known values, as outlined in this section.</p>

<h2 id="quotation-mode">Quotation Mode</h2>

<table>
<thead>
<tr>
<th>Mode</th>
<th>Description</th>
</tr>
</thead>

<tbody>
<tr>
<td><code>SOURCE</code></td>
<td><a href="#quotation">Quotation</a> created by specifying desired <a href="#source">source</a></td>
</tr>

<tr>
<td><code>DESTINATION</code></td>
<td><a href="#quotation">Quotation</a> created by specifying desired <a href="#destination">destination</a></td>
</tr>
</tbody>
</table>

<h2 id="gender">Gender</h2>

<table>
<thead>
<tr>
<th>Gender</th>
<th>Description</th>
</tr>
</thead>

<tbody>
<tr>
<td><code>MALE</code></td>
<td>Male</td>
</tr>

<tr>
<td><code>FEMALE</code></td>
<td>Female</td>
</tr>
</tbody>
</table>

<h2 id="transaction-status-class">Transaction Status Class</h2>

<table>
<thead>
<tr>
<th>Status Class</th>
<th>Message</th>
</tr>
</thead>

<tbody>
<tr>
<td><code>1</code></td>
<td>created</td>
</tr>

<tr>
<td><code>2</code></td>
<td>confirmed</td>
</tr>

<tr>
<td><code>3</code></td>
<td>submitted</td>
</tr>

<tr>
<td><code>4</code></td>
<td>canceled</td>
</tr>

<tr>
<td><code>5</code></td>
<td>completed</td>
</tr>

<tr>
<td><code>6</code></td>
<td>declined</td>
</tr>

<tr>
<td><code>7</code></td>
<td>refunded</td>
</tr>
</tbody>
</table>

<h2 id="beneficiary-relationship">Beneficiary Relationships</h2>

<div class="card">
  <a class="badge get">GET</a> /beneficiary_relationships
</div>
<br>

<div class="highlight"><pre class="chroma"><code class="language-http" data-lang="http">
<p class="n">Get Beneficiary Relationship</p>
<span class="nf">GET</span> <span class="nn">{URL}/beneficiary_relationships</span> 
<span class="kr">HTTP</span><span class="o">/</span><span class="m">1.1</span>
<span class="s2">--header</span> <span class="nf">Authorization</span> <span class="s2">{{API KEY}}</span> 

<span class="p">{</>
      <span class="err">status</span> <span class="err">200</span><span class="p">,</span>
      <span class="err">data</span> <span class="p">:</span> <span class="p">{</span>
        <span class="err">beneficiary_relationships</span> <span class="p">:</span> <span class="p">[</span>
          <span class="p">{</span>
            <span class="nt">&#34;id&#34;</span><span class="p">:</span> <span class="mi">{ID}</span><span class="p">,</span>
            <span class="nt">&#34;name&#34;</span><span class="p">:</span> <span class="s2">&#34;Other not listed&#34;</span><span class="p">,</span>
            <span class="nt">&#34;description&#34;</span><span class="p">:</span> <span class="kc">null</span><span class="p">,</span>
            <span class="nt">&#34;code&#34;</span><span class="p">:</span> <span class="s2">&#34;OTHER&#34;</span><span class="p">,</span>
            <span class="nt">&#34;created_at&#34;</span><span class="p">:</span> <span class="mi">&#34;2020-04-09T12:13:39.818Z&#34;</span><span class="p">,</span>
            <span class="nt">&#34;updated_at&#34;</span><span class="p">:</span> <span class="mi">2020-04-09T12:13:39.818Z</span>
          <span class="p">},</span>
            <span class="p">{</span>
            <span class="nt">&#34;id&#34;</span><span class="p">:</span> <span class="mi">{ID}</span><span class="p">,</span>
            <span class="nt">&#34;name&#34;</span><span class="p">:</span> <span class="s2">&#34;Wife&#34;</span><span class="p">,</span>
            <span class="nt">&#34;description&#34;</span><span class="p">:</span> <span class="kc">null</span><span class="p">,</span>
            <span class="nt">&#34;code&#34;</span><span class="p">:</span> <span class="s2">&#34;WIFE&#34;</span><span class="p">,</span>
            <span class="nt">&#34;created_at&#34;</span><span class="p">:</span> <span class="mi">&#34;2020-04-09T12:13:39.818Z&#34;</span><span class="p">,</span>
            <span class="nt">&#34;updated_at&#34;</span><span class="p">:</span> <span class="mi">2020-04-09T12:13:39.818Z</span>
          <span class="p">},</span>
          <span class="p">{</span>
            <span class="nt">&#34;id&#34;</span><span class="p">:</span> <span class="mi">{ID}</span><span class="p">,</span>
            <span class="nt">&#34;name&#34;</span><span class="p">:</span> <span class="s2">&#34;Uncle&#34;</span><span class="p">,</span>
            <span class="nt">&#34;description&#34;</span><span class="p">:</span> <span class="kc">null</span><span class="p">,</span>
            <span class="nt">&#34;code&#34;</span><span class="p">:</span> <span class="s2">&#34;UNCLE&#34;</span><span class="p">,</span>
            <span class="nt">&#34;created_at&#34;</span><span class="p">:</span> <span class="mi">&#34;2020-04-09T12:13:39.818Z&#34;</span><span class="p">,</span>
            <span class="nt">&#34;updated_at&#34;</span><span class="p">:</span> <span class="mi">2020-04-09T12:13:39.818Z</span>
          <span class="p">},</span>
          <span class="p">{</span>
            <span class="nt">&#34;id&#34;</span><span class="p">:</span> <span class="mi">{ID}</span><span class="p">,</span>
            <span class="nt">&#34;name&#34;</span><span class="p">:</span> <span class="s2">&#34;Son&#34;</span><span class="p">,</span>
            <span class="nt">&#34;description&#34;</span><span class="p">:</span> <span class="kc">null</span><span class="p">,</span>
            <span class="nt">&#34;code&#34;</span><span class="p">:</span> <span class="s2">&#34;SON&#34;</span><span class="p">,</span>
            <span class="nt">&#34;created_at&#34;</span><span class="p">:</span> <span class="mi">&#34;2020-04-09T12:13:39.818Z&#34;</span><span class="p">,</span>
            <span class="nt">&#34;updated_at&#34;</span><span class="p">:</span> <span class="mi">2020-04-09T12:13:39.818Z</span>
          <span class="p">},</span>
          <span class="p">{</span>
            <span class="nt">&#34;id&#34;</span><span class="p">:</span> <span class="mi">{ID}</span><span class="p">,</span>
            <span class="nt">&#34;name&#34;</span><span class="p">:</span> <span class="s2">&#34;Sister-in-law&#34;</span><span class="p">,</span>
            <span class="nt">&#34;description&#34;</span><span class="p">:</span> <span class="kc">null</span><span class="p">,</span>
            <span class="nt">&#34;code&#34;</span><span class="p">:</span> <span class="s2">&#34;SISTER_IN_LAW&#34;</span><span class="p">,</span>
            <span class="nt">&#34;created_at&#34;</span><span class="p">:</span> <span class="mi">&#34;2020-04-09T12:13:39.818Z&#34;</span><span class="p">,</span>
            <span class="nt">&#34;updated_at&#34;</span><span class="p">:</span> <span class="mi">2020-04-09T12:13:39.818Z</span>
          <span class="p">},</span>
          <span class="p">{</span>
            <span class="nt">&#34;id&#34;</span><span class="p">:</span> <span class="mi">{ID}</span><span class="p">,</span>
            <span class="nt">&#34;name&#34;</span><span class="p">:</span> <span class="s2">&#34;Sister&#34;</span><span class="p">,</span>
            <span class="nt">&#34;description&#34;</span><span class="p">:</span> <span class="kc">null</span><span class="p">,</span>
            <span class="nt">&#34;code&#34;</span><span class="p">:</span> <span class="s2">&#34;SISTER&#34;</span><span class="p">,</span>
            <span class="nt">&#34;created_at&#34;</span><span class="p">:</span> <span class="mi">&#34;2020-04-09T12:13:39.818Z&#34;</span><span class="p">,</span>
            <span class="nt">&#34;updated_at&#34;</span><span class="p">:</span> <span class="mi">2020-04-09T12:13:39.818Z</span>
          <span class="p">}</span>
    <span class="p">]</span>
<span class="p">},</span>
 <span class="nt">&#34;message&#34;</span><span class="p">:</span> <span class="s2">Succesfully get my Beneficiary Relationship</span>
<span class="p">}</span>
    </code></pre></div>
<table>
<thead>
<tr>
<th>Relationship</th>
<th>Description</th>
</tr>
</thead>

<tbody>
<tr>
<td><code>MYSELF</code></td>
<td>Myself</td>
</tr>

<tr>
<td><code>SPOUSE</code></td>
<td>Spouse</td>
</tr>

<tr>
<td><code>CHILDREN</code></td>
<td>Children</td>
</tr>

<tr>
<td><code>PARENT_GRANPARENT</code></td>
<td>Parent/Grandparent</td>
</tr>

<tr>
<td><code>SIBLING_BROTHER_SISTER</code></td>
<td>Sibling/brother/sister</td>
</tr>

<tr>
<td><code>RELATIVE_UNCLE_AUNTIE_COUSIN</code></td>
<td>Relative/uncle/auntie/cousin</td>
</tr>

<tr>
<td><code>FRIEND</code></td>
<td>Friend</td>
</tr>

<tr>
<td><code>BUSINESS_PARTNER</code></td>
<td>Business partner</td>
</tr>

<tr>
<td><code>CUSTOMER</code></td>
<td>Customer</td>
</tr>

<tr>
<td><code>SUPPLIER</code></td>
<td>Supplier</td>
</tr>

<tr>
<td><code>OTHER</code></td>
<td>Others not listed</td>
</tr>
</tbody>
</table>

<h2 id="source-of-funds">Source of Funds</h2>

<div class="card">
  <a class="badge get">GET</a> /source_of_funds
</div>
<br>

<div class="highlight"><pre class="chroma"><code class="language-http" data-lang="http">
<p class="n">Get Source of Funds</p>
<span class="nf">GET</span> <span class="nn">{URL}/source_of_funds
</span> 
<span class="kr">HTTP</span><span class="o">/</span><span class="m">1.1</span>
<span class="s2">--header</span> <span class="nf">Authorization</span> <span class="s2">{{API KEY}}</span> 

<span class="p">{</>
      <span class="err">status</span> <span class="err">200</span><span class="p">,</span>
      <span class="err">data</span> <span class="p">:</span> <span class="p">{</span>
        <span class="err">total</span> <span class="p">:</span> <span class="p"></span><span class="p">,</span>
        <span class="err">source_of_funds</span> <span class="p">:</span> <span class="p">[</span>
          <span class="p">{</span>
            <span class="nt">&#34;id&#34;</span><span class="p">:</span> <span class="mi">{ID}</span><span class="p">,</span>
            <span class="nt">&#34;name&#34;</span><span class="p">:</span> <span class="s2">&#34;Other not listed&#34;</span><span class="p">,</span>
            <span class="nt">&#34;description&#34;</span><span class="p">:</span> <span class="kc">null</span><span class="p">,</span>
            <span class="nt">&#34;code&#34;</span><span class="p">:</span> <span class="s2">&#34;OTHER&#34;</span><span class="p">,</span>
            <span class="nt">&#34;created_at&#34;</span><span class="p">:</span> <span class="mi">&#34;2020-04-09T12:13:39.818Z&#34;</span><span class="p">,</span>
            <span class="nt">&#34;updated_at&#34;</span><span class="p">:</span> <span class="mi">2020-04-09T12:13:39.818Z</span>
          <span class="p">},</span>
            <span class="p">{</span>
            <span class="nt">&#34;id&#34;</span><span class="p">:</span> <span class="mi">{ID}</span><span class="p">,</span>
            <span class="nt">&#34;name&#34;</span><span class="p">:</span> <span class="s2">&#34;Savings&#34;</span><span class="p">,</span>
            <span class="nt">&#34;description&#34;</span><span class="p">:</span> <span class="kc">null</span><span class="p">,</span>
            <span class="nt">&#34;code&#34;</span><span class="p">:</span> <span class="s2">&#34;SAVINGS&#34;</span><span class="p">,</span>
            <span class="nt">&#34;created_at&#34;</span><span class="p">:</span> <span class="mi">&#34;2020-04-09T12:13:39.818Z&#34;</span><span class="p">,</span>
            <span class="nt">&#34;updated_at&#34;</span><span class="p">:</span> <span class="mi">2020-04-09T12:13:39.818Z</span>
          <span class="p">},</span>
          <span class="p">{</span>
            <span class="nt">&#34;id&#34;</span><span class="p">:</span> <span class="mi">{ID}</span><span class="p">,</span>
            <span class="nt">&#34;name&#34;</span><span class="p">:</span> <span class="s2">&#34;Lottery&#34;</span><span class="p">,</span>
            <span class="nt">&#34;description&#34;</span><span class="p">:</span> <span class="kc">null</span><span class="p">,</span>
            <span class="nt">&#34;code&#34;</span><span class="p">:</span> <span class="s2">&#34;LOTTERY&#34;</span><span class="p">,</span>
            <span class="nt">&#34;created_at&#34;</span><span class="p">:</span> <span class="mi">&#34;2020-04-09T12:13:39.818Z&#34;</span><span class="p">,</span>
            <span class="nt">&#34;updated_at&#34;</span><span class="p">:</span> <span class="mi">2020-04-09T12:13:39.818Z</span>
          <span class="p">},</span>
          <span class="p">{</span>
            <span class="nt">&#34;id&#34;</span><span class="p">:</span> <span class="mi">{ID}</span><span class="p">,</span>
            <span class="nt">&#34;name&#34;</span><span class="p">:</span> <span class="s2">&#34;Salary&#34;</span><span class="p">,</span>
            <span class="nt">&#34;description&#34;</span><span class="p">:</span> <span class="kc">null</span><span class="p">,</span>
            <span class="nt">&#34;code&#34;</span><span class="p">:</span> <span class="s2">&#34;SALARY&#34;</span><span class="p">,</span>
            <span class="nt">&#34;created_at&#34;</span><span class="p">:</span> <span class="mi">&#34;2020-04-09T12:13:39.818Z&#34;</span><span class="p">,</span>
            <span class="nt">&#34;updated_at&#34;</span><span class="p">:</span> <span class="mi">2020-04-09T12:13:39.818Z</span>
          <span class="p">},</span>
          <span class="p">{</span>
            <span class="nt">&#34;id&#34;</span><span class="p">:</span> <span class="mi">{ID}</span><span class="p">,</span>
            <span class="nt">&#34;name&#34;</span><span class="p">:</span> <span class="s2">&#34;Gift&#34;</span><span class="p">,</span>
            <span class="nt">&#34;description&#34;</span><span class="p">:</span> <span class="kc">null</span><span class="p">,</span>
            <span class="nt">&#34;code&#34;</span><span class="p">:</span> <span class="s2">&#34;GIFT&#34;</span><span class="p">,</span>
            <span class="nt">&#34;created_at&#34;</span><span class="p">:</span> <span class="mi">&#34;2020-04-09T12:13:39.818Z&#34;</span><span class="p">,</span>
            <span class="nt">&#34;updated_at&#34;</span><span class="p">:</span> <span class="mi">2020-04-09T12:13:39.818Z</span>
          <span class="p">},</span>
          <span class="p">{</span>
            <span class="nt">&#34;id&#34;</span><span class="p">:</span> <span class="mi">{ID}</span><span class="p">,</span>
            <span class="nt">&#34;name&#34;</span><span class="p">:</span> <span class="s2">&#34;Salary&#34;</span><span class="p">,</span>
            <span class="nt">&#34;description&#34;</span><span class="p">:</span> <span class="kc">null</span><span class="p">,</span>
            <span class="nt">&#34;code&#34;</span><span class="p">:</span> <span class="s2">&#34;SALARY&#34;</span><span class="p">,</span>
            <span class="nt">&#34;created_at&#34;</span><span class="p">:</span> <span class="mi">&#34;2020-04-09T12:13:39.818Z&#34;</span><span class="p">,</span>
            <span class="nt">&#34;updated_at&#34;</span><span class="p">:</span> <span class="mi">2020-04-09T12:13:39.818Z</span>
          <span class="p">},</span>
          <span class="p">{</span>
            <span class="nt">&#34;id&#34;</span><span class="p">:</span> <span class="mi">{ID}</span><span class="p">,</span>
            <span class="nt">&#34;name&#34;</span><span class="p">:</span> <span class="s2">&#34;Business&#34;</span><span class="p">,</span>
            <span class="nt">&#34;description&#34;</span><span class="p">:</span> <span class="kc">null</span><span class="p">,</span>
            <span class="nt">&#34;code&#34;</span><span class="p">:</span> <span class="s2">&#34;BUSINESS&#34;</span><span class="p">,</span>
            <span class="nt">&#34;created_at&#34;</span><span class="p">:</span> <span class="mi">&#34;2020-04-09T12:13:39.818Z&#34;</span><span class="p">,</span>
            <span class="nt">&#34;updated_at&#34;</span><span class="p">:</span> <span class="mi">2020-04-09T12:13:39.818Z</span>
          <span class="p">},</span>
          <span class="p">{</span>
            <span class="nt">&#34;id&#34;</span><span class="p">:</span> <span class="mi">{ID}</span><span class="p">,</span>
            <span class="nt">&#34;name&#34;</span><span class="p">:</span> <span class="s2">&#34;Cash&#34;</span><span class="p">,</span>
            <span class="nt">&#34;description&#34;</span><span class="p">:</span> <span class="kc">null</span><span class="p">,</span>
            <span class="nt">&#34;code&#34;</span><span class="p">:</span> <span class="s2">&#34;CASH&#34;</span><span class="p">,</span>
            <span class="nt">&#34;created_at&#34;</span><span class="p">:</span> <span class="mi">&#34;2020-04-09T12:13:39.818Z&#34;</span><span class="p">,</span>
            <span class="nt">&#34;updated_at&#34;</span><span class="p">:</span> <span class="mi">2020-04-09T12:13:39.818Z</span>
          <span class="p">}</span>
    <span class="p">]</span>
<span class="p">},</span>
 <span class="nt">&#34;message&#34;</span><span class="p">:</span> <span class="s2">Succesfully get my Source of Funds</span>
<span class="p">}</span>
    </code></pre></div>
<table>
<thead>
<tr>
<th>Source</th>
<th>Description</th>
</tr>
</thead>

<tbody>
<tr>
<td><code>SALARY_INCOME</code></td>
<td>Salary/Income</td>
</tr>

<tr>
<td><code>BUSINESS_INVESTMENT</code></td>
<td>Business/investment</td>
</tr>

<tr>
<td><code>SAVINGS</code></td>
<td>Savings</td>
</tr>

<tr>
<td><code>GIFT</code></td>
<td>Gift</td>
</tr>

<tr>
<td><code>RETIREMENT_FUNDS</code></td>
<td>Retirement Funds</td>
</tr>

<tr>
<td><code>LOAN_FACILITY</code></td>
<td>Loan Facility</td>
</tr>

<tr>
<td><code>THIRD_PARTY</code></td>
<td>Third Party</td>
</tr>
</tbody>
</table>

<!-- <h2 id="id-type">ID Type</h2>

<table>
<thead>
<tr>
<th>Type</th>
<th>Description</th>
</tr>
</thead>

<tbody>
<tr>
<td><code>PASSPORT</code></td>
<td>Passport</td>
</tr>

<tr>
<td><code>NATIONAL_ID</code></td>
<td>National Identification Card</td>
</tr>

<tr>
<td><code>DRIVING_LICENSE</code></td>
<td>Driving License</td>
</tr>

<tr>
<td><code>SOCIAL_SECURITY</code></td>
<td>Social Security Card/Number</td>
</tr>

<tr>
<td><code>TAX_ID</code></td>
<td>Tax Payer Identification Card/Number</td>
</tr>

<tr>
<td><code>SENIOR_CITIZEN_ID</code></td>
<td>Senior Citizen Identification Card</td>
</tr>

<tr>
<td><code>BIRTH_CERTIFICATE</code></td>
<td>Birth Certificate</td>
</tr>

<tr>
<td><code>VILLAGE_ELDER_ID</code></td>
<td>Village Elder Identification Card</td>
</tr>

<tr>
<td><code>RESIDENT_CARD</code></td>
<td>Permanent Residency Identification Card</td>
</tr>

<tr>
<td><code>ALIEN_REGISTRATION</code></td>
<td>Alien Registration Certificate/Card</td>
</tr>

<tr>
<td><code>PAN_CARD</code></td>
<td>PAN Card</td>
</tr>

<tr>
<td><code>VOTERS_ID</code></td>
<td>Voter’s Identification Card</td>
</tr>

<tr>
<td><code>HEALTH_CARD</code></td>
<td>Health Insurance Card/Number</td>
</tr>

<tr>
<td><code>EMPLOYER_ID</code></td>
<td>Employer Identification Card</td>
</tr>

<tr>
<td><code>OTHER</code></td>
<td>Others not listed</td>
</tr>
</tbody>
</table>
 -->

<h2 id="purpose-of-remittances">Purpose of Remittances</h2>

<div class="card">
  <a class="badge get">GET</a> /purpose_of_remittances
</div>
<br>

<table>
<thead>
<tr>
<th>Purpose</th>
<th>Description</th>
</tr>
</thead>

<tbody>
<tr>
<td><code>FAMILY_SUPPORT</code></td>
<td>Family support</td>
</tr>

<tr>
<td><code>TUITION_FEES_STUDYING_EXPENSES</code></td>
<td>Tuition fees or studying expenses</td>
</tr>

<tr>
<td><code>CHARITABLE_DONATIONS</code></td>
<td>Charitable donations</td>
</tr>

<tr>
<td><code>TRAVEL_EXPENSES</code></td>
<td>Travel expenses</td>
</tr>

<tr>
<td><code>MEDICAL_EXPENSES</code></td>
<td>Medical expenses</td>
</tr>

<tr>
<td><code>PAY_FOR_GOODS</code></td>
<td>Pay for goods</td>
</tr>

<tr>
<td><code>PAY_FOR_SERVICES</code></td>
<td>Pay for services</td>
</tr>

<tr>
<td><code>OTHER_BUSINESS_EXPENSES</code></td>
<td>Other business expenses</td>
</tr>

<tr>
<td><code>PROPERTY_RENTAL</code></td>
<td>Property Rental</td>
</tr>

<tr>
<td><code>PROPERTY_PURCHASE</code></td>
<td>Property Purchase</td>
</tr>

<tr>
<td><code>GENERAL_MONTHLY_LIVING_EXPENSES</code></td>
<td>General monthly living expenses</td>
</tr>

<tr>
<td><code>PERSONAL_TRANSFER</code></td>
<td>Personal transfer</td>
</tr>

<tr>
<td><code>OTHER</code></td>
<td>Other purposes</td>
</tr>

<tr>
<td><code>CONSULTANCY_ADVISORY_FEES</code></td>
<td>Consultancy/Advisory Fees</td>
</tr>

<div class="highlight"><pre class="chroma"><code class="language-http" data-lang="http">
<p class="n">Get Purpose of Remittance</p>
<span class="nf">GET</span> <span class="nn">{URL}/purpose_of_remittances
</span> 
<span class="kr">HTTP</span><span class="o">/</span><span class="m">1.1</span>
<span class="s2">--header</span> <span class="nf">Authorization</span> <span class="s2">{{API KEY}}</span> 

<span class="p">{</>
      <span class="err">status</span> <span class="err">200</span><span class="p">,</span>
      <span class="err">data</span> <span class="p">:</span> <span class="p">{</span>
        <span class="err">total</span> <span class="p">:</span> <span class="p"></span><span class="p">,</span>
        <span class="err">source_of_funds</span> <span class="p">:</span> <span class="p">[</span>
          <span class="p">{</span>
            <span class="nt">&#34;id&#34;</span><span class="p">:</span> <span class="mi">{ID}</span><span class="p">,</span>
            <span class="nt">&#34;name&#34;</span><span class="p">:</span> <span class="s2">&#34;Other purposes&#34;</span><span class="p">,</span>
            <span class="nt">&#34;description&#34;</span><span class="p">:</span> <span class="kc">null</span><span class="p">,</span>
            <span class="nt">&#34;code&#34;</span><span class="p">:</span> <span class="s2">&#34;OTHER&#34;</span><span class="p">,</span>
            <span class="nt">&#34;created_at&#34;</span><span class="p">:</span> <span class="mi">&#34;2020-04-09T12:13:39.818Z&#34;</span><span class="p">,</span>
            <span class="nt">&#34;updated_at&#34;</span><span class="p">:</span> <span class="mi">2020-04-09T12:13:39.818Z</span>
          <span class="p">},</span>
            <span class="p">{</span>
            <span class="nt">&#34;id&#34;</span><span class="p">:</span> <span class="mi">{ID}</span><span class="p">,</span>
            <span class="nt">&#34;name&#34;</span><span class="p">:</span> <span class="s2">&#34;Broker, commitment, guarantee and other fees&#34;</span><span class="p">,</span>
            <span class="nt">&#34;description&#34;</span><span class="p">:</span> <span class="kc">null</span><span class="p">,</span>
            <span class="nt">&#34;code&#34;</span><span class="p">:</span> <span class="s2">&#34;OTHER_FEES&#34;</span><span class="p">,</span>
            <span class="nt">&#34;created_at&#34;</span><span class="p">:</span> <span class="mi">&#34;2020-04-09T12:13:39.818Z&#34;</span><span class="p">,</span>
            <span class="nt">&#34;updated_at&#34;</span><span class="p">:</span> <span class="mi">2020-04-09T12:13:39.818Z</span>
          <span class="p">},</span>
          <span class="p">{</span>
            <span class="nt">&#34;id&#34;</span><span class="p">:</span> <span class="mi">{ID}</span><span class="p">,</span>
            <span class="nt">&#34;name&#34;</span><span class="p">:</span> <span class="s2">&#34;Payment of salary&#34;</span><span class="p">,</span>
            <span class="nt">&#34;description&#34;</span><span class="p">:</span> <span class="kc">null</span><span class="p">,</span>
            <span class="nt">&#34;code&#34;</span><span class="p">:</span> <span class="s2">&#34;SALARY_PAYMENT&#34;</span><span class="p">,</span>
            <span class="nt">&#34;created_at&#34;</span><span class="p">:</span> <span class="mi">&#34;2020-04-09T12:13:39.818Z&#34;</span><span class="p">,</span>
            <span class="nt">&#34;updated_at&#34;</span><span class="p">:</span> <span class="mi">2020-04-09T12:13:39.818Z</span>
          <span class="p">},</span>
          <span class="p">{</span>
            <span class="nt">&#34;id&#34;</span><span class="p">:</span> <span class="mi">{ID}</span><span class="p">,</span>
            <span class="nt">&#34;name&#34;</span><span class="p">:</span> <span class="s2">&#34;Personal transfer&#34;</span><span class="p">,</span>
            <span class="nt">&#34;description&#34;</span><span class="p">:</span> <span class="kc">null</span><span class="p">,</span>
            <span class="nt">&#34;code&#34;</span><span class="p">:</span> <span class="s2">&#34;PERSONAL_TRANSFER&#34;</span><span class="p">,</span>
            <span class="nt">&#34;created_at&#34;</span><span class="p">:</span> <span class="mi">&#34;2020-04-09T12:13:39.818Z&#34;</span><span class="p">,</span>
            <span class="nt">&#34;updated_at&#34;</span><span class="p">:</span> <span class="mi">2020-04-09T12:13:39.818Z</span>
          <span class="p">},</span>
          <span class="p">{</span>
            <span class="nt">&#34;id&#34;</span><span class="p">:</span> <span class="mi">{ID}</span><span class="p">,</span>
            <span class="nt">&#34;name&#34;</span><span class="p">:</span> <span class="s2">&#34;Utility bills&#34;</span><span class="p">,</span>
            <span class="nt">&#34;description&#34;</span><span class="p">:</span> <span class="kc">null</span><span class="p">,</span>
            <span class="nt">&#34;code&#34;</span><span class="p">:</span> <span class="s2">&#34;UTILITY_BILLS&#34;</span><span class="p">,</span>
            <span class="nt">&#34;created_at&#34;</span><span class="p">:</span> <span class="mi">&#34;2020-04-09T12:13:39.818Z&#34;</span><span class="p">,</span>
            <span class="nt">&#34;updated_at&#34;</span><span class="p">:</span> <span class="mi">2020-04-09T12:13:39.818Z</span>
          <span class="p">},</span>
          <span class="p">{</span>
            <span class="nt">&#34;id&#34;</span><span class="p">:</span> <span class="mi">{ID}</span><span class="p">,</span>
            <span class="nt">&#34;name&#34;</span><span class="p">:</span> <span class="s2">&#34;Transportation fees&#34;</span><span class="p">,</span>
            <span class="nt">&#34;description&#34;</span><span class="p">:</span> <span class="kc">null</span><span class="p">,</span>
            <span class="nt">&#34;code&#34;</span><span class="p">:</span> <span class="s2">&#34;TRANSPORTATION_FEES&#34;</span><span class="p">,</span>
            <span class="nt">&#34;created_at&#34;</span><span class="p">:</span> <span class="mi">&#34;2020-04-09T12:13:39.818Z&#34;</span><span class="p">,</span>
            <span class="nt">&#34;updated_at&#34;</span><span class="p">:</span> <span class="mi">2020-04-09T12:13:39.818Z</span>
          <span class="p">},</span>
          <span class="p">{</span>
            <span class="nt">&#34;id&#34;</span><span class="p">:</span> <span class="mi">{ID}</span><span class="p">,</span>
            <span class="nt">&#34;name&#34;</span><span class="p">:</span> <span class="s2">&#34;Tax payment&#34;</span><span class="p">,</span>
            <span class="nt">&#34;description&#34;</span><span class="p">:</span> <span class="kc">null</span><span class="p">,</span>
            <span class="nt">&#34;code&#34;</span><span class="p">:</span> <span class="s2">&#34;TAX_PAYMENT&#34;</span><span class="p">,</span>
            <span class="nt">&#34;created_at&#34;</span><span class="p">:</span> <span class="mi">&#34;2020-04-09T12:13:39.818Z&#34;</span><span class="p">,</span>
            <span class="nt">&#34;updated_at&#34;</span><span class="p">:</span> <span class="mi">2020-04-09T12:13:39.818Z</span>
          <span class="p">},</span>
          <span class="p">{</span>
            <span class="nt">&#34;id&#34;</span><span class="p">:</span> <span class="mi">{ID}</span><span class="p">,</span>
            <span class="nt">&#34;name&#34;</span><span class="p">:</span> <span class="s2">&#34;Fund investment&#34;</span><span class="p">,</span>
            <span class="nt">&#34;description&#34;</span><span class="p">:</span> <span class="kc">null</span><span class="p">,</span>
            <span class="nt">&#34;code&#34;</span><span class="p">:</span> <span class="s2">&#34;FUND_INVESTMENT&#34;</span><span class="p">,</span>
            <span class="nt">&#34;created_at&#34;</span><span class="p">:</span> <span class="mi">&#34;2020-04-09T12:13:39.818Z&#34;</span><span class="p">,</span>
            <span class="nt">&#34;updated_at&#34;</span><span class="p">:</span> <span class="mi">2020-04-09T12:13:39.818Z</span>
          <span class="p">}</span>
    <span class="p">]</span>
<span class="p">},</span>
 <span class="nt">&#34;message&#34;</span><span class="p">:</span> <span class="s2">Succesfully get my Purpose of Remittance</span>
<span class="p">}</span>
    </code></pre></div>
</tbody>
</table>
 