<!-- Errors -->

# Errors

<!-- HTTP Response -->

<h2 id="http-response">HTTP Response</h2>

<!-- <div class="highlight"><pre class="chroma"><code class="language-http" data-lang="http"><span class="kr">HTTP</span><span class="o">/</span><span class="m">1.1</span> <span class="m">401</span> <span class="ne">Unauthorized</span><span class="p">{</span>
    <span class="nt">&#34;errors&#34;</span><span class="p">:</span> <span class="p">[</span>
        <span class="p">{</span>
            <span class="nt">&#34;code&#34;</span><span class="p">:</span> <span class="s2">&#34;1000401&#34;</span><span class="p">,</span>
            <span class="nt">&#34;message&#34;</span><span class="p">:</span> <span class="s2">&#34;Unauthorized&#34;</span>
        <span class="p">}</span>
    <span class="p">]</span>
<span class="p">}</span>

<span class="kr">HTTP</span><span class="o">/</span><span class="m">1.1</span> <span class="m">401</span> <span class="ne">Unauthorized</span><span class="p">{</span>
    <span class="nt">&#34;errors&#34;</span><span class="p">:</span> <span class="p">[</span>
        <span class="p">{</span>
            <span class="nt">&#34;code&#34;</span><span class="p">:</span> <span class="s2">&#34;1000401&#34;</span><span class="p">,</span>
            <span class="nt">&#34;message&#34;</span><span class="p">:</span> <span class="s2">&#34;Unauthorized&#34;</span>
        <span class="p">}</span>
    <span class="p">]</span>
<span class="p">}</span></code></pre></div> -->
<p>Uses standard HTTP response codes to indicate whether an API request is successful or not.</p>

<table>
<thead>
<tr>
<th>Status</th>
<th>Description</th>
</tr>
</thead>

<tbody>
<tr>
<td><code>200</code></td>
<td>OK</td>
</tr>

<tr>
<td><code>400</code></td>
<td>Bad Request:<br/>Request was malformed</td>
</tr>

<tr>
<td><code>401</code></td>
<td>Unauthorized:<br/>Credentials missing or invalid</td>
</tr>

<tr>
<td><code>422</code></td>
<td>Unprocessable Entity</td>
</tr>

<tr>
<td><code>404</code></td>
<td>Not Found:<br/>Resource doesn&rsquo;t exist</td>
</tr>

<tr>
<td><code>500</code></td>
<td>Server Error:<br/>Error occurred</td>
</tr>
</tbody>
</table>

<p>Details will always be contained within the HTTP body.</p>
<!-- End HTTP Response -->

<!-- API Error Codes -->

<h2 id="api-error-codes">API Error Code</h2>
<p>In case a transaction is declined, we will send an error_code and error_message on payload callback, explaning what went wrong. Here is a list of codes/messages.</p>
<table>
<thead>
<tr>
<th>Code</th>
<th>Error Message</th>
</tr>
</thead>

<tbody>
<tr>
<td><code>1</code></td>
<td>Invalid beneficiary name</td>
</tr>

<tr>
<td><code>2</code></td>
<td>Invalid destination account number</td>
</tr>

<tr>
<td><code>3</code></td>
<td>Invalid destination account or beneficiary name</td>
</tr>

<tr>
<td><code>4</code></td>
<td>General error</td>
</tr>

<tr>
<td><code>5</code></td>
<td>Timeout error by bank</td>
</tr>

<tr>
<td><code>6</code></td>
<td>Unique reference number violation</td>
</tr>

<tr>
<td><code>7</code></td>
<td>Identical request already processed before</td>
</tr>

<tr>
<td><code>8</code></td>
<td>Bank cannot authenticated request</td>
</tr>

<tr>
<td><code>9</code></td>
<td>Bank balance disbursement validation failed</td>
</tr>

<tr>
<td><code>10</code></td>
<td>Payload validation failed</td>
</tr>

<tr>
<td><code>012</code></td>
<td>Beneficiary account is blocked</td>
</tr>

<tr>
<td><code>013</code></td>
<td>Sender and receiver account are the same</td>
</tr>


</tbody>
</table>

<!-- End API Error codes -->


<h2 id="api-error-codes">Validation Error Message</h2>
<p>If transaction failed to be create or confirm, we will return a message on response with status code 422. Here is a list of validation messages.</p>
<table>
<thead>
<tr>
<th>Method</th>
<th>Validation</th>
<th>Error Message</th>
</tr>
</thead>

<tbody>
<tr>
<td><code>Validate Bank Account</code></td>
<td>Bank name not found</td>
<td>Bank is not included in the list</td>
</tr>

<tr>
<td><code>Validate Bank Account</code></td>
<td>Account number required</td>
<td>Account can't be blank, is too short (minimum is 6 characters), is not a number</td>
</tr>

<tr>
<td><code>Validate Bank Account</code></td>
<td>Bank required</td>
<td>Bank can't be blank</td>
</tr>

<tr>
<td><code>Validate Bank Account</code></td>
<td>Account number is too long</td>
<td>Account is too long (maximum is 20 characters)</td>
</tr>

<tr>
<td><code>Validate Bank Account</code></td>
<td>Account number is too short</td>
<td>Account is too short (minimum is 6 characters)</td>
</tr>

<tr>
<td><code>Validate Bank Account</code></td>
<td>Account number not found</td>
<td>Account does not exist</td>
</tr>

<tr>
<td><code>Create Transaction</code></td>
<td>Reference ID must be uniq</td>
<td>reference_id has already been taken</td>
</tr>

<tr>
<td><code>Create Transaction</code></td>
<td>Validations for all required fields (sender, beneficiary, source, destination object)</td>
<td>beneficiary firstname and account required / source currency and country_iso_code required / destination currency required"</td>
</tr>

<tr>
<td><code>Create Transaction</code></td>
<td>Beneficiary account required</td>
<td>Beneficiary account can't be blank, Beneficiary account is too short (minimum is 6 characters), and Beneficiary account is not a number</td>
</tr>

<tr>
<td><code>Create Transaction</code></td>
<td>Beneficiary account must be a number</td>
<td>Beneficiary account is too long (maximum is 20 characters) and Beneficiary account is not a number</td>
</tr>

<tr>
<td><code>Create Transaction</code></td>
<td>Destination amount must be a number</td>
<td>Amount is not a number</td>
</tr>

<tr>
<td><code>Create Transaction</code></td>
<td>Payer required</td>
<td>Payer must exist / payer_id not found</td>
</tr>

<tr>
<td><code>Create Transaction</code></td>
<td>Minimum amount limit</td>
<td>Minimum amount limit not reached</td>
</tr>

<tr>
<td><code>Create Transaction</code></td>
<td>Maximum amount limit</td>
<td>Maximum amount limit exceeded</td>
</tr>

<tr>
<td><code>Create Transaction</code></td>
<td>Compliance validation</td>
<td>Beneficiary name/account number denied compliance</td>
</tr>

<tr>
<td><code>Confirm Transaction</code></td>
<td>Insufficient amount Balance</td>
<td>Insufficient amount Balance</td>
</tr>


</tbody>
</table>