<!-- Introduction -->

<h1 id="introduction">Introduction</h1>
<blockquote>
<%# <p><img src="images/transfer.jpg" alt="money transfer" /></p> %>
</blockquote>
<p>Welcome to the Transfer API reference.</p>

<p>This API serves as the primary gateway to facilitate money transfers&rsquo; platform.</p>

<p>The Transfer API is organized according to <a href="https://en.wikipedia.org/wiki/Representational_state_transfer">REST</a> principles and provides the following functionalities:</p>

<ul>
<li>Process and retrieve transaction details</li>
<li>Account management services</li>
<li>Discovery services</li>
</ul>

<!-- End Introduction -->

<!-- Environments -->

<h2 id="environments">Environments</h2>

<p>This API is available in 2 environments: production and pre-production, reachable via IPSec VPN or HTTPS.</p>

<p>Specific details relating to the endpoints will be provided upon account creation.</p>

<!-- End Environments -->
