#Authentication
<div class="card">
  <div class="badge post">POST</div> /authenticate
</div>

Access to all endpoints of the API requires authentication, through an <a href="https://en.wikipedia.org/wiki/Basic_access_authentication">HTTP Basic Auth</a>.



