# Introduction
Welcome to the Transfez API reference.
This API serves as the primary gateway to facilitate money transfers' platform.
The Transfez API is organized according to 
<a href="https://en.wikipedia.org/wiki/Representational_state_transfer">REST</a>
principles and provides the following functionalities:

* Process and retreive transaction details
* Account management services
* Discovery services

## Environments
This API is available in 2 environments: production and staging, reachable via IPSec VPN or HTTPS.
Specific details relating to the endpoints will be provided upon account creation.